body {
    background-color: rgb(72, 12, 117);
}

#bar {
    text-align: center;
    background-color: rgb(223, 128, 50);
    color: rgb(12, 11, 11);
    padding: 2px;
    margin: 0;
    font-family: inherit;
    clear: both;
}

#main-nav {
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
}

#main-nav li {
    text-decoration: none;
    padding: 14px 20px;
    display: inline-block;
    position: relative;
}

#main-nav li:hover {
    color: white;
    background-color:rgb(50, 140, 14);
}

/* Hide ULs */
#main-nav ul ul {
    display: none;
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* If there is a UL under a list element when hoeering show it */
#main-nav li:hover ul {
    display: block;
    background-color:  rgb(0, 0, 0);
    float: left;
    position: absolute;
    padding: 0;
}

#main-nav ul li {
    list-style-type: none;
    text-align: center;
    padding: 10px;
}

.main-container {
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}

.content-box {
    background-color: rgb(172, 120, 73);
    color: rgb(7, 7, 7);
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
}

.content-box1 {
    background-color: rgb(172, 120, 73);
    color: rgb(7, 7, 7);
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    float: left;
    width: 25%;
}

.content-box2 {
    background-color: rgb(172, 120, 73);
    color: rgb(7, 7, 7);
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    float: right;
    width: 25%;
}


.content-area {
    width: 60%;
    float : left;
    border: 2px solid black;
    padding: 20px;
    display: grid;
    margin: auto;
}

#contact {
    height: auto;
    text-align: center;
    background-color: rgb(75, 37, 6);
    color: rgb(255, 255, 255);
    float: right;
    width: 20%;
    border: 1px solid black;
    top: 0;
    left: 0;
    overflow: hidden;
    padding-top: 20px;
    border: 2px solid black;
}

#contact:hover {
    background-color: rgb(37, 124, 153);
    color: #000;
    cursor: pointer;
    transform: scale(1.1);
    
}

.main-container {
    border: 2px solid rgb(6, 6, 6);
}